body {
    background: rgb(59, 57, 54); 
}

.center {
    margin: auto;
    width: 80%;
}

.title {
    color:aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40pt;
}
.shelf {
    min-height: 10vh;
    height: 30vh;
    background-image: url(books.png);
    background-size: cover;
    border: 15px solid  rgb(179, 109, 56);
    outline: 4px solid black;
    position: relative;
    text-align: center;
    justify-content: center;
   
}

.shelves {

    text-align: center;
    border: 3vw solid rgb(181,96,53);
    outline: 4px solid black;
}

.shelf-button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 100%;
} 

.shelf-a {
    width: 100%;
    height: 100%;
}


/* 


.shelf-button {
       OLMUYOR , KİTAPLARIN AŞAĞI DEĞMESİ LAZIM
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}*/
.label {
    color: aliceblue;
    font-family: serif;
    font-weight: bold;
    font-size: xx-large;
}
.book-label {
    color: aliceblue;
    font-family: serif;
    font-weight: bolder;
    font-size: 10vw;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, .80)
}


