body {
    background: rgb(59, 57, 54); 
}

.center {
    margin: auto;
    width: 80%;
}

.title {
    color:aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40pt;
}
.shelf {
    min-height: 20vh;
    background: rgb(92, 52, 28);
    border: 15px solid  rgb(179, 109, 56);
    outline: 4px solid black;
   
}

.shelves {

    text-align: center;
    border: 3vw solid rgb(181,96,53);
    outline: 4px solid black;
}

.shelf a {
    height: 80%;
    width: 80vw;
    text-transform: capitalize;
    text-decoration: none;
    all: unset;
    cursor: pointer;
}
.shelf button {
    width: 100%;
    height: 8vw;
    all: unset;
    cursor: pointer;
} /* 
.shelf-button {
       OLMUYOR , KİTAPLARIN AŞAĞI DEĞMESİ LAZIM
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}*/
.label {
    color: aliceblue;
    font-family: serif;
    font-weight: bold;
    font-size: xx-large;
}

.shelf * img {
   max-width: 100%;
}


