body {
    justify-content: center;
    margin-top: 0;
    padding: 0;
    /* background-image: url(paper_look.jpg)  
    background-size: 1922px 1157px;*/
    background: rgb(59, 57, 54); 
}
.center {
   
    position: relative;
    justify-content: center;
    text-align: center;
    
}
.mainpage-btn {
    text-decoration: underline;
    color: red;
}

.text-container {
    margin: auto;
    border: 30px solid  rgb(179, 109, 56);
    outline: 8px solid black;

    background: rgb(108, 66, 40);
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0,0,0,1);
    width: 80vw;
    min-height: 80vh;
    height: max-content;
}

.title {
    color:black;
    font-family: serif;
    font-size: 30pt;
}
p {
    text-align: center;
    padding: 10px;
    font-size: medium;
    text-align: start;
    color: beige;
    z-index: 3;
    line-height: 2;
}

h3 {
    text-align: center;
    color:rgb(205, 46, 25);
    text-decoration: underline;
}

span {
    font-style: italic;
}